.idea/
.vscode/
__pycache__/
build/
dist/
*.tmp
tmp/
tmp*.*
test/
test.*
*.exe
*.log
dukto.txt
scpi_shell/extra.py
scpi_shell/commands.txt
scpi_shell/functions.txt
__enamlcache__
pyface
traitsui
.ipynb_checkpoints/
mykits/cmds_*.yml
python36.dll
.venv
*.egg-info
scpi_shell/extra_old.py
scpi_shell/more-items.txt
dotnetkit/**/*.cache
dotnetkit/**/TemporaryGeneratedFile_*
iwara images