.idea/*
!.idea/dictionaries
.ve35-win32/
.vscode/
__pycache__/
build/
cut_file.spec
cutfile.tmp
dist/
dota2_njk.bat
dota2_njk.py
ffmpeg-concat.spec
ghostdriver.log
rename-md5.evb
rename-md5.spec
tmp.*
vxi11cmd.exe
