pywinauto
keyboard
mouse
pyperclip
pure-python-adb
uiautomator2
requests
lxml
pillow
imagehash
opencv-python
pyreadline
pysimpleguiqt
pyserial

youtube-dl
you-get
gallery-dl

pyautogui #pyautogui==0.9.39
av  # PyAV
fs  # PyFilesystem
#splinter<0.8  # phantomjs
#selenium<3.8  # phantomjs
#bs4
#splinter[zope.testbrowser]  # zope.testbrowser with splinter not support py3
#splinter
#selenium

